USE_MOCK_DATA=false
ENABLE_BERT=false
ADZUNA_APP_ID=your_app_id
ADZUNA_APP_KEY=your_app_key
ADZUNA_COUNTRY=in
ADZUNA_DEFAULT_LOCATION=India
ADZUNA_SORT_BY=
ADZUNA_WHAT_EXCLUDE=
ADZUNA_SALARY_MIN=
ADZUNA_SALARY_MAX=
ADZUNA_FULL_TIME=
ADZUNA_PART_TIME=
ADZUNA_PERMANENT=
ADZUNA_CONTRACT=
